body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif; 
    color: #333;
    margin: 0;

     h1 {
        font-size: 2em;
        color: white;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1.5em;
        color: black;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 1.2em;
        color: #3c033a;
        margin-bottom: 10px;
    }

}

#about {
    text-align: center;
    background-color: lightpink;

}

#skills {
    background-color: lightblue;
}
    
#projects {
    background-color: lightgreen;
}

#contact {
    background-color: lightyellow;
}

header {
    background-color: rgb(138, 19, 142);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    color: #c43ae3;
    margin: 20px ;
    font-weight: bold;
}

section {
    border: 1px solid #c43ae3;
    padding: 20px;
    margin: 20px ;

}

footer {
    background-color: #c43ae3;
    color: white;
    text-align: center;
    padding: 10px;
}


img {
    width: 150px;
    border: 3px solid #c43ae3;
}

link {
    color: #4CAF50;
    text-decoration:hsl(from color h s l)}

.navigation {
    color:#c43ae3;
}